.post_detail_info {
    display: flex;
    flex-direction: column;
}

#post_detail_title {
font-size: 24px;       /* 본문보다 크게 */
  font-weight: bold;     /* 두껍게 */
  color: #8B0000;        /* 포인트 컬러 */
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;    /* 중앙 정렬 */
  border-bottom: 2px solid #ddd; /* 구분선 */
  padding-bottom: 5px;
}

#post_detail_meta {
    font-size: 12px;
    color: #888;
    margin-bottom: 8px;
    margin-right: 10px;
    text-align: right;
}

#post_detail_content {
    margin: 20px 30px;
    font-size: 14px;
    line-height: 1.6;
}

.post-detail-images {
    display: flex;
    flex-direction: column;
    align-items: center; /* 이미지 가운데 정렬 */
    width: 100%;
}

.post-detail-images img{
    width: 90%;
    height: auto;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    display: block;
}

#post-detail-button {
    margin: 16px 0;
    padding: 8px 16px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

#post-detail-button-ctn{
    display: flex;
    align-items: center;
    justify-content: center;
}