@font-face {
    font-family: 'SfHambakneun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

body {
    margin: 0;
    overflow: hidden;
}

#header_club_name {
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 400px;
    text-align: center;
}

#current_page {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 7px;
    position: absolute;
    top: 78%;
    left: 78%;
    transform: translate(-50%, -50%);
    font-family: 'SfHambakneun', serif;
}

#club_initial {
    font-size: 20px;
    letter-spacing: 15px;
    position: relative;
    display: block;
    font-weight: bold;
    font-family: 'SfHambakneun', serif;
}

#club_full_name {
    font-size: 8px;
    letter-spacing: 2px;
    position: relative;
    display: block;
    left: -6px;
    font-family: 'SfHambakneun', serif;
}

.header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    background-color: #A52A2A;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 100px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.background_circle{
    position: absolute;
    top: 400%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300%;
    height: 700%;
    background: white;
    border-radius: 50%;
    z-index: 0;
}

.Link_container {
    position: absolute;
    top: 25%; 
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 100px;
}

.action_link {
    position: absolute;
    width: auto;
    height: auto;
    border: none;
    background: none;
    color: #F5DEB3;
    font-weight: 700;
    font-size: 13pt;
    border-radius: 0;
    pointer-events: auto;
    white-space: nowrap;
    z-index: 2;
    text-align: center;
    text-decoration: none;
}

#board_button{
    letter-spacing: 3px;
}

#ranking_button{
    letter-spacing: 11px;
}

#intro_button{
    letter-spacing: 11px;
}

#vote_button{
    letter-spacing: 11px;
}

/* 4개 버튼을 원호 형태로 배치 */
.action_link:nth-child(1) {
    left: 0%;
    top: 53px;
    transform: translate(-50%, -50%) rotate(-17deg);
}
.action_link:nth-child(2) {
    left: 33%;
    top: 30px;
    transform: translate(-50%, -50%) rotate(-5deg);
}
.action_link:nth-child(3) {
    left: 66%;
    top: 30px;
    transform: translate(-50%, -50%) rotate(5deg);
}
.action_link:nth-child(4) {
    left: 100%;
    top: 53px;
    transform: translate(-50%, -50%) rotate(17deg);
}

.home_link{
    color: #F5DEB3;
    left: 15px;
    top: 10px;
    position: absolute;
    text-decoration: none;
}

.login_link{
    color: #F5DEB3;
    right: 15px;
    top: 10px;
    position: absolute;
    text-decoration: none;
}

.page_content {
    margin-top: 200px;
}

.page_ranking {
    letter-spacing: 9px;
    font-family: 'SfHambakneun', serif; 
}

.page_board {
    letter-spacing: 15px;
    font-family: 'SfHambakneun', serif;
}

.page_intro {
    letter-spacing: 15px;
    font-family: 'SfHambakneun', serif;
}

.page_participate {
    letter-spacing: 15px;
    font-family: 'SfHambakneun', serif;
}

.page_edit {
    letter-spacing: 20px;
    font-family: 'SfHambakneun', serif;
}

.page_login {
    letter-spacing: 15px;
    font-family: 'SfHambakneun', serif;
}

.page_signup {
    letter-spacing: 5px;
    font-family: 'SfHambakneun', serif;
}

.page_profile {
    letter-spacing: 8px;
    font-family: 'SfHambakneun', serif;
}

.login_link {
    letter-spacing: 3px;
}

.home_link {
    letter-spacing: 3px;
}

#header_profile_button {
    font-weight: 100;
    text-align: right;
    letter-spacing: 2px;
}

.home_link img {
  filter: brightness(0) saturate(100%) invert(89%) sepia(22%) saturate(749%) hue-rotate(340deg) brightness(104%) contrast(98%);
}